<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.zhizhong.yujian"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".MyApplication"
        android:resizeableActivity="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".module.home.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".module.my.activity.LoginActivity"/>
        <activity android:name=".module.my.activity.SetNameActivity"/>
        <activity android:name=".module.my.activity.FindPwdActivity"/>
        <activity android:name=".module.my.activity.ResetPwdActivity"/>
        <activity android:name=".module.auction.activity.AuctionDetailActivity"/>
        <activity android:name=".module.my.activity.MyBaoZhengJinActivity"/>
        <activity android:name=".module.my.activity.MyAuctionActivity"/>
        <activity android:name=".module.auction.activity.JiaoNaJinActivity"/>
        <activity android:name=".module.auction.activity.PaiMaiListActivity"/>
        <activity android:name=".module.my.activity.HelpCenterActivity"/>
        <activity android:name=".module.my.activity.AccountManageActivity"/>
        <activity android:name=".module.my.activity.MyMaiHuiActivity"/>
        <activity android:name=".module.my.activity.MyOrderActivity"/>
        <activity android:name=".module.my.activity.OrderDetailActivity"/>
        <activity android:name=".module.my.activity.FaBiaoEvaluationActivity"/>
        <activity android:name=".module.my.activity.AboutYuJianActivity"/>
        <activity android:name=".module.my.activity.UpdatePwdActivity"/>
        <activity android:name=".module.my.activity.SettingActivity"/>
        <activity android:name=".module.my.activity.TuiKuanActivity"/>
        <activity android:name=".module.my.activity.TiXianActivity"/>
        <activity android:name=".module.my.activity.TiXianResultActivity"/>
        <activity android:name=".module.my.activity.SelectZhiFuBaoActivity"/>
        <activity android:name=".module.my.activity.AddBankActivity"/>
        <activity android:name=".module.my.activity.AddZhiFuBaoActivity"/>
        <activity android:name=".module.my.activity.MyTuiKuanListActivity"/>
        <activity android:name=".module.my.activity.KeMaiHuiActivity"/>
        <activity android:name=".module.my.activity.MyEvaluationActivity"/>
        <activity android:name=".module.my.activity.MyCollectionActivity"/>
        <activity android:name=".module.my.activity.MessageActivity"/>
        <activity android:name=".module.my.activity.MyMoneyActivity"/>
        <activity android:name=".module.my.activity.MyDataActivity"/>
        <activity android:name=".module.my.activity.WuLiuActivity"/>
        <activity android:name=".module.my.activity.SystemMessageActivity"/>
        <activity android:name=".module.my.activity.UpdatePhoneActivity"/>
        <activity android:name=".module.my.activity.BankListActivity"/>
        <activity android:name=".module.my.activity.YiJianFanKuiActivity"/>
        <activity android:name=".module.my.activity.YouHuiQuanActivity"/>
        <activity android:name=".module.my.activity.ZhangHuAnQuanActivity"/>
        <activity android:name=".module.my.activity.ZhangHuChongZhiActivity"/>
        <activity android:name=".module.my.activity.AgainEvaluationActivity"/>
        <activity android:name=".module.home.activity.ZiXunDetailActivity"/>
        <activity android:name=".module.mall.activity.ShoppingCartActivity"/>
        <activity android:name=".module.mall.activity.LingQuanZhongXinActivity"/>
        <activity android:name=".module.mall.activity.GoodsEvaluationActivity"/>
        <activity android:name=".module.mall.activity.SureOrderActivity"/>
        <activity android:name=".module.mall.activity.ScanActivity"/>
        <activity android:name=".module.mall.activity.GoodsSearchActivity"/>
        <activity android:name=".module.mall.activity.SearchResultActivity"/>
        <activity android:name=".module.my.activity.AddAddressActivity"/>
        <activity android:name=".module.my.activity.AddressListActivity"/>
        <activity android:name=".module.mall.activity.PaySuccessActivity"/>
        <activity android:name=".module.my.activity.LoginForPwdActivity"/>
        <activity android:name=".module.mall.activity.GoodsDetailActivity" android:configChanges="screenSize|keyboardHidden|orientation"/>
        <activity android:name=".module.mall.activity.GoodsClassActivity"/>
        <activity android:name=".module.auction.fragment.ChuJiaActivity"/>
        <activity android:name=".module.auction.activity.PaiMaiOrderActivity"/>
        <activity android:name=".module.auction.activity.PaiMaiOrderDetailActivity"/>
        <activity android:name=".module.my.activity.VIPActivity"/>
    </application>

</manifest>